<?xml version="1.0" encoding="UTF-8"?>
<Export generator="Cache" version="25">
  <Document name="zpm-explorer.ZPM">
    <Module>
      <Name>zpm-explorer</Name>
      <Version>0.1.6</Version>
      <Description>A graphic interface to explorer the applications inside InterSystems Package Manager</Description>
      <Packaging>module</Packaging>
      <SourcesRoot>src/iris</SourcesRoot>
      <Dependencies>
        <ModuleReference>
          <Name>sslclient</Name>
          <Version>1.*</Version>
        </ModuleReference>
      </Dependencies>
      <CSPApplication 
        CookiePath="/csp/zpmexplorer/" 
        DefaultTimeout="900" 
        SourcePath="/src/csp" 
        DeployPath="${cspdir}/csp/${namespace}/" 
        MatchRoles=":{$dbrole}" 
        PasswordAuthEnabled="1" 
        Recurse="1" ServeFiles="1" 
        ServeFilesTimeout="3600" 
        UnauthenticatedEnabled="0" 
        Url="/csp/zpmexplorer" 
        UseSessionCookie="2"/>
      <CSPApplication 
        AuthenticationMethods="16416" 
        CookiePath="/csp/zpmexplorer/api/" 
        DispatchClass="dc.zpm.rest.Dispatch" 
        MatchRoles=":%All" 
        Recurse="1" 
        ServeFiles="1" 
        Url="/csp/zpmexplorer/api/" 
        UseSessionCookie="1"/> 
      <Resource Name="dc.zpm.PKG"/>
      <Invokes>
        <Invoke Class="dc.zpm.Charts" Method="CreateSankeyDataSourceTask"></Invoke>
      </Invokes>
    </Module>
  </Document>
</Export>
